.wrapper {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
}

.zoom-div {
    flex: 1
}

.main-div {
    flex: 1;
}

.filter {
    width: 100%;
    filter: url(#noise);
}